/* media */
@mixin respond-to($name) {
  $max: map-get($breakpoints, $name);

  @if $max {
    @media only screen and (max-width: $max) {
      @content;
    }
  }

  @else {
    @content;
  }
}

/* fonts */
@mixin font($alias, $name, $weight) {
  @font-face {
    font-family: $alias;
    src: url("@/assets/fonts/" + $name + ".ttf") format("truetype");
    font-weight: $weight;
    font-style: normal;
    font-display: swap;
  }
}
